
<div id="mePlace"></div>

<div class="abtGM">
  <div class="abtBlock">
    <div class="abtContentText">
      <p>
        Coding is something I've always seem interesting in, the ability to create,
   improve programs or change how computers work in generally, is something
   no other jobs can offer. You can see the skill difference between a good and
   great coder, which makes programming very much like a trade.
  The fact that the more skill you are the better you are at your job, and
  the better your work , make this line of work fit perfectly for my competitive
 personality. In august i decided to change careers and channel my full effort into becoming the best coder i can be.
 I've since then learned a lot, and have gotten more of a grasp on how far I am from becoming  a great coder.
 Programming has so far never bored me, and has changed completely that way I go about problem solving and thinking in general.
 The outstanding amount of new technology to learned that is constantly being improve or changed everyday, makes me happy
 that I'll never truly master my career , since there is always new stuff to learn, I will always strive to reach the , what seems to be never ending cap.
      </p>
    </div>
  </div>
</div>
