<div class="contactHolder">
  <h1 class="mainContactButton"><button id="gmContactBtn"> Contact Me </button></h1>
</div>
<div class="contactHeader">
</div>
<div class="contactMain">
</div>
<div class="aboutFooter">
</div>

<div class="contBxt">

</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>

    <form method="POST" action="/sendContact">
      <label for="gmEmail">Email</label>
      <input type="text" id="gmEmail" name="gmEmail2">
      <label for="fname">Name </label>
      <input type="text" id="gmName" name="firstname">
      <textarea placeholder="Message" class="gmMessage" name="gmMessage">
      </textarea>
      <button type="submit" id="gmSubmit" value="Submit" method="POST" action="/sendContact" rows="6" cols="100"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </form>
  </div>

</div>
