
  <!-- Header -->
  <!-- <div class="header">
    <div class="blur"></div>
    <div class="nav">
      <div class="galleryNav"><a href="#">Gallery</a></div>
      <div class="workNav"><a href="#">Work</a></div>
    </div>
  </div> -->

<div class="portfolioBackground">
  <div class="portfolioBottom" id="gmPortBottom">
  </div>
</div>

<div class="gmFolioMain">
  <div class="gmFolioLogo">
    <h1 class="gmPortClickL"> Portfolio </h1>
  </div>
  <div class="breakPort"></div>
  <div class="gmPortfolioShower">
    <div class="row">
      <div class="col-md-8" id="gms1">
        <img src="./assets/img/gmProject1.png"></img>
      </div>
      <div class="col-md-4" id="gms2">
        <img src="./assets/img/rsz_gmproject2.png"></img>
      </div>
      <!-- <div class="col-md-4" id="gms3">
        <img src="./assets/img/sequelburger.png"></img>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4" id="gms4">
      </div>
      <div class="col-md-4" id="gms5">
      </div>
      <div class="col-md-4" id="gms6">
      </div>
    </div>

    	<!-- <p>This is a vertically and horizontally centered &lt;div&gt; tag. Try resizing your browser.</p>

    	<div class="comments">
    		<p><strong>Comments:</strong></p>
    		<p>Tested in: <span style="color: darkblue">Firefox, IE6, Opera 7, NN4.7, NN7, and Mozilla 1.2.</span><br>
    		Works in: <span style="color: darkblue">Firefox, IE6, Opera 7, NN7, and Mozilla 1.2.</span><br>
    		Doesn't work in: <span style="color: darkblue">NN4.7</span></p>
    		<p>© Copyright 2003, <a href="/">Infinity Web Design</a></p>
    	</div>
 -->




  </div>
  <div class="portWrap1">
      <!-- <div class="gmWorkTitle-1">
       <h1> Rooster Booster </h1>
     </div> -->
     <div class="gmWork-1">
       <img src="./assets/img/gmProject1.png"></img>
     </div>
     <div class="text">
				<div class="section">
          <button class="websiteLink"> website link </button>
            <button class="githubRe" type="button"> github <i class="fa fa-github fa-lg" aria-hidden="true"></i></button>
           <!-- <div class="githubRe">github </div> -->
           <div class="gmWorkTitle-1">
             <h1> Rooster Booster </h1>
           </div>
          <em class="workDes">Collaborative project, in which I was in charged of Front End, UX/UI.</em>
          <hr>
          <h3> About </h3>
          <p> An application that the user ('the manager') schedules an event for anyone of their choosing to participate.
          </p>
        </div>
          <div class="section">
          <hr>
          <ul class="tags">
            <li><a href="#" class="tag">HTML</a></li>
            <li><a href="#" class="tag">CSS</a></li>
            <li><a href="#" class="tag">JavaScript</a></li>
          </ul>
          <div class="portfolioFooter">
          </div>
          </div>
    </div>
  </div>
</div>
















<!-- <div class="portfolioLogo">
  <h1>Portfolio</h1>
</div>
<div class="portGM">

  <div class="gmStats">
        <ul id="gm-First">
          <li id="gmProjectos"> All Projects </li>
          <li id="mysqlGM"> MySQL </li>
          <li id="htmlGM"> HTML </li>
          <li id="cssGM"> CSS </li>
          <li id ="javaScriptGM"> Javascript </li>
        </ul>
  </div>
  <div class="portViewer">
    <button class="gm-Project-1">
    </button>
    <button class="gm-Project-1">
    </button>
    <button class="gm-Project-1">
    </button>
    <button class="gm-Project-1">
    </button>
    <button class="gm-Project-1">
    </button>

  </div>
<div class="close" style="display:none"></div>

  <div class="gmPro-Des-Section">
    <div class="proTitle">
      <h1> Sequelized Burger App </h1>
    </div>
    <div class="proDes">
      <p>
      Sequelized Burger! is a restaurant app that lets users input the names of burgers they'd like to eat.

Whenever a user submits a burger's name, the app will display the burger on the left side of the page -- waiting to be devoured.

Each burger in the waiting area also has a Devour it! button. When the user clicks it, the burger will move to the right side of the page.

The app stores every burger in a database, whether devoured or not, using  MySQL, Node, Express, Handlebars and a homemade ORM.

      </p>
    </div>
  </div>
</div> -->
