
<!-- <div class="portfolioLogo">
  <h1>Portfolio</h1>
</div> -->
<div class="portGM">

  <div class="gmStats">
        <ul id="gm-First">
          <li id="gmProjectos"> All Projects </li>
          <li id="mysqlGM"> MySQL </li>
          <li id="htmlGM"> HTML </li>
          <li id="cssGM"> CSS </li>
          <li id ="javaScriptGM"> Javascript </li>
        </ul>
  </div>
  <div class="portViewer">
    <button class="gm-Project-1">
    </button>
  </div>
<div class="close" style="display:none"></div>

  <div class="gmPro-Des-Section">
    <div class="proTitle">
      <h1> Sequelized Burger App </h1>
    </div>
    <div class="proDes">
      <p>
      Sequelized Burger! is a restaurant app that lets users input the names of burgers they'd like to eat.

Whenever a user submits a burger's name, the app will display the burger on the left side of the page -- waiting to be devoured.

Each burger in the waiting area also has a Devour it! button. When the user clicks it, the burger will move to the right side of the page.

The app stores every burger in a database, whether devoured or not, using  MySQL, Node, Express, Handlebars and a homemade ORM.

      </p>
    </div>
  </div>
</div>
