
<!-- <span id="menu-toggle"><i class="fa fa-google fa-3x" aria-hidden="true"></i></span> -->

<div class="header">
    <div class="blur"></div>
    <div class="nav">
      <div class="workNav"><a class="workNavB" href="/about">About</a></div>
      <div class="workNav"><a class="workNavB" href="/contact">Contact</a></div>
      <div class="workNav"><a class="workNavB" href="/portfolio">Portfolio</a></div>
      <div class="workNav"><a class="workNavB" href="/">Main</a></div>
    </div>
</div>
