<div class="header">
    <div class="blur"></div>
    <div class="nav">
      <div class="workNav2"><a class="workNavA" href="/about">About</a></div>
      <div class="workNav2"><a class="workNavA" href="/contact">Contact</a></div>
      <div class="workNav2"><a class="workNavA" href="/portfolio">Portfolio</a></div>
      <div class="workNav2"><a class="workNavA" href="/">Main</a></div>
    </div>
</div>
