<div class="navBar">
  <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
</div>

<div class="menu-spoiler">
  <div class="navBar-Showing">
    <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
  </div>
  <ul class="gmHref">
    <li><a href="/" class="gmHrefW"> Main </a></li>
    <li><a href="/portfolio" class="gmHrefW"> Portfolio </a></li>
    <li><a href="/contact" class="gmHrefW"> Contact </a></li>
    <li><a href="/about" class="gmHrefW"> About </a></li>
  </ul>

  <!-- <script type="text/javascript">
  // document.$('menu-spoiler').style.backgroundImage = 'url(https://unsplash.it/' + window.innerWidth + '/' + window.innerHeight + '/?random&blur)';
  </script> -->
  <div id="d1">
   <div class="c1">
          <a><img src="/assets/img/boatRiver.jpg"></img></a>
          <a><img src="/assets/img/spaceMan.jpg"></img></a>
          <a><img src="/assets/img/cityRain.jpg"></img></a>
          <a><img src="/assets/img/redForest.jpg"></img></a>
   </div>
</div>
</div>
<div id="d"></div>
</div>
