<!-- <div class="navBar"> -->
  <!-- <i class="fa fa-google fa-3x" aria-hidden="true"></i> -->
  <!-- <a class="smedia" href="/" class="gmHrefW" > Main </a> -->
  <!-- <a class="smedia" href="/portfolio" class="gmHrefW"> Portfolio </a> -->
  <!-- <a class="smedia" href="/contact" class="gmHrefW"> Contact </a> -->
  <!-- <a class="smedia" href="/about" class="gmHrefW"> About </a> -->
<!-- </div> -->

<div class="menu-spoiler">
  <div class="navBar-Showing">
    <!-- <a href="https://www.linkedin.com/in/gerardo-mestanza-6b518b130" class="fa fa-linkedin fa-lg"></a></li> -->
    <!-- <i class="fa fa-bars fa-3x" aria-hidden="true"></i> -->
    <i class="fa fa-caret-square-o-down fa-5x" aria-hidden="true"></i>
  </div>
  <ul class="gmHref">
    <li><a href="/" class="gmHrefW"> Main </a></li>
    <li><a href="/portfolio" class="gmHrefW"> Portfolio </a></li>
    <li><a href="/contact" class="gmHrefW"> Contact </a></li>
    <li><a href="/about" class="gmHrefW"> About </a></li>
  </ul>

  <!-- <script type="text/javascript">
  // document.$('menu-spoiler').style.backgroundImage = 'url(https://unsplash.it/' + window.innerWidth + '/' + window.innerHeight + '/?random&blur)';
  </script> -->
  <div id="d1">
   <div class="c1">
          <a><img src="/assets/img/boatRiver.jpg"></img></a>
          <a><img src="/assets/img/spaceMan.jpg"></img></a>
          <a><img src="/assets/img/cityRain.jpg"></img></a>
          <a><img src="/assets/img/redForest.jpg"></img></a>
   </div>
</div>
</div>
<div id="d"></div>
</div>


<div id="menu">
  <!-- <h1>Gerardo</h1> -->
  <!-- <div class="navBar"> -->
    <!-- <i class="fa fa-google fa-3x" aria-hidden="true"></i> -->
    <!-- <a class="smedia" href="/" class="gmHrefW" > Main </a> -->
    <!-- <a class="smedia" href="/portfolio" class="gmHrefW"> Portfolio </a> -->
    <!-- <a class="smedia" href="/contact" class="gmHrefW"> Contact </a> -->
    <!-- <a class="smedia" href="/about" class="gmHrefW"> About </a> -->
  <!-- </div> -->

  <ul>
    <a class="menu-link" href="/">
      <li>Home</li>
    </a>
    <a class="menu-link" href="/portfolio">
      <li>Profile</li>
    </a>
    <a class="menu-link" onclick="scrollX('gallery'); return false;" href="#">
      <li>Gallery</li>
    </a>
    <a class="menu-link" onclick="scrollX('about'); return false;" href="#">
      <li>About</li>
    </a>
    <a class="menu-link" onclick="scrollX('contacts'); return false;" href="#">
      <li>Contacts</li>
    </a>
  </ul>

  <!-- <h1>Gerardo</h1> -->

  <!-- <input type="color" name "color1" id="color1" />

  <input type="range" id="opac" min="30" max="100" /> -->


</div>
<span id="menu-toggle"><i class="fa fa-google fa-3x" aria-hidden="true"></i></span>



<!-- <div id="slider">

  <div id="slides">

    <div id="home" class="img"></div>

    <div id="profile" class="img"></div>

    <div id="gallery" class="img"></div>

    <div id="about" class="img"></div>

    <div id="contacts" class="img"></div>

  </div>
</div> -->

<!-- </div> -->
<!-- <div id="redessociales">
         <a class="smedia facebook" href="https://www.facebook.com/josernitos">Uno</a>
         <a class="smedia twitter" href="http://www.twitter.com/josernitos">Dos</a>
         <a class="smedia instagram" href="#">Tres</a>
         <a class="smedia youtube" href="#">Cuatro</a>
         <a class="smedia vimeo" href="#">Cinco</a>
         <a class="smedia email" href="#">Seis</a>
</div> -->
