* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  /*font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;*/
  /*color: #252445;*/
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

svg{
  width: 347px;
      /* height: 120px; */
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      background: black;
      position: absolute;
      left: 98%;
      top: 41%;
      /* width: 400px; */
      height: 54.2340px;
      font-family: 'Bungee Inline', cursive;
      color: white;
      letter-spacing: -1px;
      background: black;
      /* background: rgba(0, 0, 0, 0.7); */
      /* padding: 4.1px; */
}


#portfolioPage{
  width: 100%;
  height: 100%;
  -webkit-animation: fadeInUp .55s;  /* Safari 4+ */
  -moz-animation:   fadeInUp .55s;  /* Fx 5+ */
  -o-animation:     fadeInUp .55s;  /* Opera 12+ */
  animation:        fadeInUp .55s ;
}

.aboutMe{
  /*width: 100vh;
  height: 100vw;*/
  -webkit-animation: fadeInUp .35s; /* Safari 4+ */
  -moz-animation:    fadeInUp  .35s; /* Fx 5+ */
  -o-animation:      fadeInUp  .35s; /* Opera 12+ */
  animation:         fadeInUp  .35s;

}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.pt-page-moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}


/*a {
	outline: none;
	color: #fff;
	text-decoration: none;
}*/

/*a:hover,
a:focus {
	color: #252445;
}*/

.demo-2 a {
	color: #333;
}

.demo-2 a:hover,
.demo-2 a:focus {
	color: #444C75;
}


/* Header */

.codrops-header {
	padding: 2.5em 2em 0;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.demo-1 .codrops-header {
	position: absolute;
}

.codrops-header h1 {
	margin: 0 auto 0 0;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 1.65em;
	line-height: 1;
	display: inline-block;
}

.info {
	width: 100%;
}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	margin: 0 1em 0 0;
}

.codrops-links::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 110%;
	background: #252445;
	content: '';
	-webkit-transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
	transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
	color: #488bce;
}

.codrops-icon--prev:before {
	content: "\e004";
}


/* Demo links */

.codrops-demos a {
	display: inline-block;
	font-weight: bold;
	color: #488bce;
}

.codrops-demos a:not(:last-child) {
	margin-right: 1em;
}

.codrops-demos a.current-demo {
	color: #252445;
}

.image-preload {
	position: absolute;
	left: -9999px;
}

.nosupport {
	display: none;
	margin: 0 auto;
	font-size: 1.25em;
	padding: 1em;
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: center;
	background: #a74e71;
	z-index: 1000;
}

.no-webgl .nosupport {
	display: block;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 1.5em;
		text-align: center;
		display: block;
		font-size: 0.75em;
	}
	.codrops-links {
		display: block;
		margin: 0 0 1em;
	}
	.codrops-demos {
		width: 100%;
		font-size: 120%;
		margin: 1em 0 0 0;
	}
}

/**/

/*body { padding: 4em; }*/


.gmLogo {
  position: absolute;
  height: 250px;
  width: 500px;
  left: 32.23%;
  top: 25%;
  /*background-image: url("../img/blueMainLogo4.jpg");*/
}


.gmLogo > h1 {
  position: absolute;
  left: 60px;
  top: 33.23%;
  width: 400px;
  height: 54.2340px;
  font-family: 'Bungee Inline', cursive;
  color: white;
  letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 7px;
}


.container{
  height: 3em;
  left: 47.34%;
  margin: -1.5em 0 0 -6em;
  position: absolute;
  bottom: 60px;
  width: 10em;
}

.social {
	position: relative;
	height: 3em;
	width: 13.5em;
}

.social li {
	display: block;
	height: 4em;
	line-height: 4em;
	margin: -2.2em;
	position: absolute;
  border: 3px solid white;
	-webkit-transition: -webkit-transform .7s;
	-moz-transition: -moz-transform .7s;
	-ms-transition: -ms-transform .7s;
	-o-transition: -o-transform .7s;
	transition: transform .7s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	width: 4em;
}

.social a {
	color: white;
	display: block;
	height: 21.5px;
	line-height: 70px;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 10px;
  text-decoration: none;
}
.social a:hover {
  color: white;
}

.social li:hover {
  border: 3px solid white;
  -webkit-transform: scale(1.3,1.3) rotate(45deg);
	-moz-transform: scale(1.3,1.3) rotate(45deg);
  -ms-transform: scale(1.3,1.3) rotate(45deg);
	-o-transform: scale(1.3,1.3) rotate(45deg);
  transform: scale(1.3,1.3) rotate(45deg);
}

.instagram {
	/*background: #155b9d;*/
	left: 0;
	top: 0%;
}

.twitter {
	/*background: rgb(234,216,200);*/
	bottom: 0;
	left: 25%;
}

.dribbble {
	/*background: #d05f8f;*/
	left: 50%;
	top: 0%;
}

.behance {
	/*background: rgb(251,221,157);*/
	bottom: 0;
	left: 75%;
}

.linked-in {
	/*background: #157f9d;*/
	left: 100%;
	top: 0%;
}

.fa-github {
  color: black;
}

/*NAV BAR MENU*/

.galleryNav {
  text-decoration: none !important;
  font-family: "freight-sans-pro", freightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: white;
}
.galleryNav>a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.galleryNav>a:hover:after {
  text-decoration: none !important;
	width: 80%;
	background: white;
}
.workNav {
  text-decoration: none !important;
  font-family: "freight-sans-pro", freightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: white;
}
.workNav>a:after {
  text-decoration: none !important;
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.workNav>a:hover:after {
  text-decoration: none !important;
	width: 80%;
	background: white;
}

.workNav2 {
  text-decoration: none !important;
  font-family: "freight-sans-pro", freightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: inline-block;
  position: relative;
  color: black;
}
.workNav2>a:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.workNav2>a:hover:after {
	width: 80%;
	background: black;
}


.gmIndexDes{
  position: absolute;
  top: 100px;
}*/
#slide-1{
  display: none;
}
#slide-2{
  display: none;
}
#slide-3{
  display: none;
}
#slide-4{
  display: none;
}
#slide-5{
  display: none;
}
.slideshow-nav {
  text-decoration: none !important;
  position: absolute;
  top: 100px;
}


/*portfolio*/

.rightarrow{
  right: 15%;
  position: absolute;
  /* float: right; */
  z-index: 10;
  top: 140px;
}
.rightarrow>i{
   cursor: pointer;
   color: black;
}

.rightarrow>p{
  text-decoration: none, !important;
  right: 30px;
  position: absolute;
  color: black;
  top: 20px;
}

.rightarrow>p>a{
  text-decoration: none, !important;
  right: 30px;
  position: absolute;
  color: black;
  top: 20px;
}
/*left portfolio wrrow*/
.leftarrow{
  left: 15%;
  position: absolute;
  /* float: right; */
  z-index: 10;
  top: 140px;
}
.leftarrow>i{
   cursor: pointer;
   color: black;
}

.leftarrow>p{
  text-decoration: none, !important;
  left: 30px;
  position: absolute;
  color: black;
  top: 20px;
}

.leftarrow>p>a{
  text-decoration: none, !important;
  left: 30px;
  position: absolute;
  color: black;
  top: 20px;
}

.portfolioBackground{
  width: 100vw;
  height: 100vh;
  z-index: -9000;
  background-color: white;
}
.breakPort{
  width: 100%;
  height: 100px;
}
.gmFolioLogo{
  width: 100%;
  top:0px;
  height: 100px;
  font-family: 'Bungee', cursive;
  text-align: center;
  /*background: white;*/
  /*border: 1px solid rgb(225, 225, 225);
    border: 1px solid rgba(225, 225, 225, .5);*/
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  border: none !important;
  color: black;
}

.gmPortfolioShower{
  display: none;
  width: 100%;
  background-color: blue;
  height: 600px;

}


#gms1{
  /*background-color: rgb(209,45,82);*/
  width: 650px;
  height: 300px;
}
.col-md-8>img{
  max-width: 100%;
  max-height: 100%;
}
.col-md-4>img {
  max-width: 100%;
  max-height: 100%;
}
#gms2{
  background-color: red;
  width: 350px;
  height: 300px;
}
#gms3{
  background-color: red;
  width: 450px;
  height: 400px;
}
#gms4{
  background-color: red;
  width: 350px;
  height: 300px;
  margin-right: 45px;
}
#gms5{
  background-color: red;
  width: 350px;
  height: 300px;
  margin-right: 45px;
}
#gms6{
  background-color: red;
  width: 350px;
  height: 300px;
}


.gmPortClickL>a{
  text-decoration: none;
}


.gmFolioMain{
  position: absolute;
  z-index: 900;
  top: 0px;
  left: 50%;
  width: 80em;
  height: 100%;
  margin-left: -39em;
  border: 1px solid #ccc;
  overflow-y: auto;
  border: none !important;
  background-color: rgb(0,0,0,0);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.gmFolioLogo>h1{
position: absolute;
font-size: 80px;
border-style: none;
left: 45%;
top: 30px;
margin-left: -2.6em
  /*background: linear-gradient(hsl(138,9%,48%),hsl(195,10%,29%));*/
}

.gmWorkTitle-1{
    color: #cfcfcf;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: -2px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.15)
}
.gmWorkTitle-1>h1{
  color:#393939;
  margin-left: 5em;
}
.section>h3{
  font-family: 'Montserrat', sans-serif;
}
.portfolioFooter{
  width: 100%;
  height: 200px;
}
.workDes{
  margin-left: 9em;
}
.websiteLink {
  float: left;
}
.githubRe{
  display: block;
  position: relative;
  float: left;
width: 120px;
padding: 0;
margin: 10px 20px 10px 0;
font-weight: 600;
text-align: center;
line-height: 50px;
color: #FFF;
background: #00AE68;
border-radius: 5px;
transition: all 0.2s;
  float: right;
  font-family: 'Montserrat', sans-serif;
}
.githubRe:hover {
  background: #007144;
}
.websiteLink{
  display: block;
  position: absolute;
  float: left;
  width: 180px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  background: #00AE68;
  border-radius: 5px;
  transition: all 0.2s;
  float: right;
  font-family: 'Montserrat', sans-serif;
}
.websiteLink:hover {
  background: #007144;
}
.gmWork-1{
  margin-top: 10px;
  width: 100%;
  height: 600px;
}
.gmWork-1>img{
  z-index: -10;
  max-width: 100%;
  max-height: 100%;
}

.section>p{
  font-family: 'Sanchez', serif;
}

.tags{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.tags li, .tags a{
  float: left;
  height: 27.3px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
}
.tags a{
  margin-left: 20px;
  padding: 0px 10px 0px 12px;
  background-color: rgb(209,45,82);
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}
.tags a:before{
 	content: "";
  float: left;
  position: absolute;
  top: 0px;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent rgb(209,45,82) transparent transparent;
  border-style: solid;
  border-width: 14px 12px 13px 0px;
}
.tags a:after{
 	content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
  background: #fff;
  -moz-box-shadow:-1px -1px 2px #333;
	-webkit-box-shadow:-1px -1px 2px #333;
	box-shadow:-1px -1px 2px #333;
}
.tags a:hover{
  background:#555;
}
.tags a:hover:before{
  border-color:transparent #555 transparent transparent;
}
.text{
  text-align: center;
  margin: 0 20px 35px;
  color: black;
  font-size: 15px;
  line-height: 20px;
}


.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header .blur {
  opacity: .2;
  filter: blur(1px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header .nav {
  top: 30px;
  width: 400px;
  height: 100%;
  position: absolute;
  right: 20px;
}

.nav div {
  float: right;
  height: 100%;
  width: 90px;
  text-align: center;
  text-decoration: none !important;
}
.workNavB{
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  margin: 0 auto;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.workNavA {
  color: black;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  margin: 0 auto;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 1.2em;
}


/*
.header .nav div:hover {
  background-color: rgba(23, 23, 23, 0.7);
}*/

div.center {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50px;
  text-align: center;
  max-width: 80vmax;
  max-height: 400px;
}

div.center > p {
  color: #fecb1e;
  font-size: 19vmax;
  text-shadow: 0px 0px 7px #151716;
  margin: 0;
  line-height: 60vh;
}

div.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.hero {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  display: block;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  transform: translate3d(15px, 13px, 0px);
}

div.hero-image {
  background: url("../img/tokyoRain.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 108%;
  height: 300px;
  top: 10%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 1s linear;
}

.no-select {
  cursor: default;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: nonae;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.portfolioBottom{
  position: relative;
  top: 20em;
  bottom: 0px;
  height: 300px;
  background-color: rgb(209,45,82);
}

.portfolioBottomMain{
  position: relative;
  top: 20em;
  bottom: 0px;
  height: 300px;
  background-color: rgb(49,58,61);
}

.portfolioWorksHolder{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}





.gmPortBackground {
  position: absolute;
  top:100px;
  bottom:100px;
  right: 400px;

  /*width: 80%;*/
  min-width: 100%;
  /*background-color: red;*/
  background-image: url("../img/portBackground.png");
}
.gmPortBackground>img{
  max-width: 100%;
  max-height: 100%;
}
.gmFolioSide{
position: absolute;
width: 400px;
bottom: 100px;
top:120px;
/*height: 100%;*/
right: 0px;
background: linear-gradient(hsl(138,9%,48%),hsl(195,10%,29%));
}
.gmFolioDes{
  position: absolute;
  font-family: 'Slabo 27px', serif;
  width: 100%;
  top:40px;
  display: inline-block;
  color: #fff;
  padding: 20px;
  overflow: auto;
  max-height: 85%;
  max-height: calc(100% - 98px);
  max-height: -webkit-calc(100% - 98px);
  /*background-color: red;*/
}
.gmFolioTop{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  background: rgb(245,245,220);
}
.gmFolioBot{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: rgb(245,245,220);
}

.gmFolioDes>h1{
  border-bottom: 2px solid rgba(255,255,255,.2);
  line-height: 3.0;
  display: center;
  text-align: center;
}

.titleDes>p{
  text-align: center;
  padding-bottom: 20px;
  font-size: 17px;
}
.titleDes>h2{
  text-align: center;
  border-bottom: 2px solid rgba(255,255,255,.2);
}
.gmTech{
  list-style-type: none;
  font-size: 16px;
}

.portfoliologo >h1{
  font-size: 44px;
  font-weight: 900;
  color: black;
  display: inline-block;
  position: relative;
  padding-bottom: 1px;
}
.portfoliologo>h1:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
.portfoliologo>h1:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: black;
    transition: width .5s ease;
}
.portfoliologo>h1:hover:before {
    width: 0%;
    background: black;
    transition: width .5s ease;
}
.portfoliologo>h1:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

.gmStats {
  position: absolute;
  top: 0px;
  height: 200px;
  right: 25%;
  /*width: 100%;*/
}



/*.portGm {
  position: absolute;
  padding: 1000px
   width: 1000px;
   height: 800px;
   background-color: green;
   z-index: 1000000;
}*/


.gmStats > ul{
   list-style-type: none;
}
.gmStats > ul > li {
  position: relative;
  right: 23%;
  top: 30px;
  color: black;
  margin: 50px;
  float: right;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
   -webkit-font-smoothing: antialiased;
}


.gmStats > ul > li  {
    display: inline-block;
    position: relative;
    padding-bottom: 1px;
}
.gmStats > ul > li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    transition: width 0s ease;
}
.gmStats > ul > li:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: black;
    transition: width .5s ease;
}
.gmStats > ul > li:hover:before {
    width: 0%;
    background: black;
    transition: width .5s ease;
}
.gmStats > ul > li:hover:after {
    width: 0%;
    background: transparent;
    transition: width 0s ease;
}

.portViewer {
  position: absolute;
  top: -5%;
  margin: 15%;
  /*height: 600px;*/
  background-color: black;
}
.gm-Project-1{
  position: relative;
  /*top: 220px;*/
  /*left: 330px;*/
  margin: 5px;
  height: 500px;
  width: 500px;
  background-image: url("../img/gmProject-1-Copy.png");
}


.gmPro-Des-Section {
  display: none;
  position: absolute;
  right: 100px;
  top: 35%;
  width: 400px;
  height: 650px;
}

.gmPro-Des-Section > .proTitle >h1 {
  display: center;
  margin: 34px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Bungee Inline', cursive;
}

.gmPro-Des-Section > .proDes > p {
  margin: 35px;
  line-height: 35px;
  font-size: 16px;
}

/*.contactHolder {
  position: absolute;
  top: 45%;
  left: 40%;
}

.contactHolder > h1{
  border:none;
  font-size: 40px;
  color: black;
}

.contactHolder > h1>button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.mainContactButton {
  font-family: 'Bungee Inline', cursive;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.mainContactButton:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.mainContactButton:hover:after {
	width: 100%;
	background: black;
}

.aboutFooter {
  position: absolute;
  z-index: -9000;
  bottom: 0px;
  width: 100%;
  height: 70%;
  background-image: url('../img/aboutFooterTrans.png')
}

.contactHeader{
  position: absolute;
  opacity: .9;
  z-index: -9000;
  top: 0px;
  width: 100%;
  height: 80%;
  background-image: url('../img/moonMan1.jpg')if time finish this
}*/
/*.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}*/


/*.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 33%;
    top: 25%;
    width: 600px;
    height: 700px;
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.0);
    overflow-y:hidden;
}*/


/*.modal-content {
    background-color: rgb(113,136,120);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}*/

/*
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#gmSubmit{
    width: 100%;
    background-color: rgb(255,127,0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/
/*
.gmMessage {
  height: 100;
}*/

/*#gmMContact {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70em;
    height: 40em;
    margin-top: -20em;
    margin-left: -35em;
    border: 1px solid #ccc;
    background-color: rgb(113,136,120);
    font-family: 'Lato', sans-serif; font-weight:100;
}

.gmCheader {
  height:40px;
  background-color: rgb(49,58,61);
  box-shadow: 2px 2px;
}

.gmClose {
  position: absolute;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.gmclose:hover,
.gmclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.gmCContainer {
  padding: 5%;
  width: 100%;
}

textarea{
    border: none;
    background: #E8E9EA;
    width: 100%;
    margin: 0;
    padding: 70px 0;
    padding-left: 19.5%;
    color: #313A3D;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }*/


.aboutMe{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  background-color: rgb(49,58,61);
}

.gmContactForm {
  position: absolute;
  left: 69%;
  top: 30%;
  width: 30em;
  height: 18em;
  font-family: Raleway, sans-serif;
}
.contactLogo{
  text-align: center;
}
.comments>form>label{
  position: absolute;
  left: -60px;
  font-size: 24px;
}

.namelabel{
  margin-top: 14px;
}
.messagelabel{
  margin-top: 14px;
}
#gmEmail{
  border-bottom: solid black;
  border-width: 2px;
  width: 100%;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 40px;
}
#gmEmail:focus{
  outline: none;
}
#gmName{
  border-bottom: solid black;
  border-width: 2px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
  outline: none;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
#gmMessage{
  border-bottom: solid black;
  width: 86%;
  border-width: 2px;
  margin-top: 20px;
  position: absolute;
  right: 3%;
  outline: none;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

#gmSubmit{
  position: absolute;
  left: 10em;
  top: 25em;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.1em;
  color: rgb(253,150,56);
  background-color: rgb(49,58,61);
}

#gmSubmit:hover{
  background-color: rgb(253,150,56);
  color: rgb(49,58,61);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.gmAboutMe{
  position: absolute;
  top: 40%;
  left: 56%;
  width: 30em;
  height: 28em;
  margin-top: -9em;
  margin-left: -15em;
  color: white;
}

.gmAboutMe>h1{
  font-family: Raleway, sans-serif;
  text-align: center;
}

.gmAboutMe>p{
  font-size: 19px;
  line-height: 2.4em;
  text-align: center;
  font-family: Lusitana, serif;
}

.socialContact{
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 97%;
  background-color: red;
}

.social-1{
  display: inline-flex;
  height: 90px;
  width: 90px;

  border-radius: 2px;
	box-shadow: 0 35px 80px 7px rgba(black, 0.1);
	margin: 0 20px;
	perspective: 1000px;
	position: relative;
  text-align: center;
}
.social-1>i{
  display: center;
}
